/*NORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMALNORMAL*/
/*1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px1600px*/
html{
    background-color: #313b42;
}
.text-foot{
    color: white;
    text-align: center;
}
#header{
    background-color: #abaeb0;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 50px;
    font-size: 25px;
}
h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
.menu-principal{
    text-align: center;
    word-spacing: 50px;
    margin-top: 30px;
    background-color: #abaeb0;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 50px;
    font-size: 25px;
}
.menu-principal :hover{
    color: blanchedalmond;
}
.sobre {
    color: black;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
}
.acade {
    color: black;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
}
.exp {
    color: black;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
}
.port {
    color: black;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
}
.skills {
    color: black;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
}
.personal{
    color: black;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
}
.cont {
    color: black;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
}
.content{
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
}
.descricao{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    font-size: 25px;
}
.brinsta{
    font-family: 'Patrick Hand', cursive;
    text-decoration: none;
    cursor: pointer;
    color: rgb(9, 219, 9);
}
#perfil{
    margin-top: 35px;
    text-align: center;
}
#pro{
    width: 250px;
    border: 5px solid white;
    border-radius: 150px;
}
.graduation{
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}
.primeiragrad{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    font-size: 25px;
    margin-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
}
.subtitles{
    margin-top: 10px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    font-size: 25px;
}
.wrap{
    margin-top: -10px;
}
.bloco1{
    margin: 30px;
    background-color: #737373;
    border: 5px solid white;
    border-radius: 40px;
}
.subsub{
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
    color:#c9c9c9;
    text-align: center;
}
#forma-academica{
    margin-top: 20px;
}
#forma-pro{
    margin-top: 15px;
}
#forma-hab{
    margin-top: 15px;
}
#forma-spec{
    margin-top: 40px;
}
#forma-idi{
    margin-top: 40px;
}
.profi{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
}
.bloco2{
    margin: 30px;
    background-color: #737373;
    border: 5px solid white;
    border-radius: 40px;
}
.segundagrad{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    font-size: 25px;
    margin-top: -5px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
}
.abilities{
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;
}
#abilities1{
    font-size: 50px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.terceiragrad{
    text-align: left;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    font-size: 25px;
    margin-top: -5px;
    padding-left: 35px;
    padding-right: 35px;
}
.bloco3{
    background-color: #737373;
    border: 5px solid white;
    border-radius: 40px;
    height: 580px;
    width: 450px;
    margin-left: 50px;
}
.cheioimg{
    width: 35px;
    height: 30px;
}
.sw1{
    margin-bottom: 10px;
    margin-left: 20px;
}
.subtitles-soft{
    margin-top: 10px;
    text-align: left;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    margin-left: 55px;
    font-size: 25px;
}
.wrap2{
    text-align: center;
    margin-top: -470px;
    margin-left: 250px;
}
.subtitles-extra{
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    font-size: 25px;;
    margin-top: -94px;
    margin-left: 320px;
}
.sw2{
    margin-top: 30px;
}
.quartagrad{
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    margin-top: 25px;
    font-size: 25px;;
}
.bloco4{
    width: 100%;  
}
.spectitle{
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    color:#c9c9c9;
    text-align: center;
}
.spec2{
    text-align: center;
    word-spacing: 5px;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.specicon{
    align-items: center;
    width: 55px;
    height: 50px;
}
.idititle{
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    color:#c9c9c9;
    text-align: center;
}
.idieng{
    text-align: center;
    word-spacing: 5px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 120px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.idicon{
    margin-bottom: -25px;
}
.idiesp{
    text-align: center;
    word-spacing: 5px;
    margin-top: 30px;
    margin-left: 130px;
    margin-right: 120px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.idifre{
    text-align: center;
    word-spacing: 5px;
    margin-top: 30px;
    margin-left: 170px;
    margin-right: 120px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
#subsub1-nada{
    margin-top: 100px;
    margin-bottom: -10px;
}
.hobbiesbox{
    margin-top: 100px;
}
.hobtitle{
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    color:#c9c9c9;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10px;
}
.column1{
    margin-left: 270px;
}
.cinemadiv{
    word-spacing: 5px;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.naturediv{
    word-spacing: 5px;
    margin-top: -55px;
    margin-left: 205px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.musicdiv{
    word-spacing: 5px;
    margin-top: -55px;
    margin-left: 435px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.videogamediv{
    word-spacing: 5px;
    margin-top: -55px;
    margin-left: 650px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.theatrediv{
    word-spacing: 5px;
    margin-top: -55px;
    margin-left: 950px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.travellingdiv{
    word-spacing: 5px;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.photodiv{
    word-spacing: 5px;
    margin-top: -55px;
    margin-left: 205px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.fitnessdiv{
    word-spacing: 5px;
    margin-top: -55px;
    margin-left: 435px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.moneydiv{
    word-spacing: 5px;
    margin-top: -55px;
    margin-left: 650px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.booksdiv{
    word-spacing: 5px;
    margin-top: -55px;
    margin-left: 950px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.column2{
    margin-left: 270px;
}
.cinema{
    width: 50px;
    height: 50px;
}
.nature{
    width: 50px;
    height: 50px;
}
.music{
    width: 50px;
    height: 50px;
}
.videogame{
    width: 50px;
    height: 50px;
}
.theatre{
    width: 50px;
    height: 50px;
}
.travelling{
    width: 50px;
    height: 50px;
}
.photo{
    width: 50px;
    height: 50px;
}
.fitness{
    width: 50px;
    height: 50px;
}
.money{
    width: 50px;
    height: 50px;
}
.books{
    width: 50px;
    height: 50px;
}
.portbox{
    margin-top: 90px;
}
.column3{
    margin-left: 220px;
}
.behancediv{
    word-spacing: 5px;
    margin-top: 30px;
    margin-left: 150px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    cursor: pointer;
}
.behance{
    width: 50px;
    height: 50px;
}
.instagramdiv{
    word-spacing: 5px;
    margin-top: -40px;
    margin-left: 380px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    cursor: pointer;
}
.instagram{
    width: 50px;
    height: 50px;
}
.youtubediv{
        word-spacing: 5px;
        margin-top: -40px;
        margin-left: 630px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
}
.youtube{
    width: 50px;
    height: 50px;
}
.facebookdiv{
        word-spacing: 5px;
        margin-top: -40px;
        margin-left: 870px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
}
.facebook{
    width: 50px;
    height: 50px;
}
.behancelink{
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.instagramlink{
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.youtubelink{
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.facebooklink{
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.linkdivin{
    margin-top: -50px;
    margin-left: 60px;
    cursor: pointer;
}
.contatobox{
    margin-top: 90px;
}
.column4{
    margin-left: 130px;
    margin-top: 68px;
}
.whatsappdiv{
    word-spacing: 5px;
    margin-top: -25px;
    margin-left: 105px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.whatsapplink{
    margin-top: -5px;
}
.whatsapp{
    width: 50px;
    height: 50px;
}
.instagrampersonaldiv{
    word-spacing: 5px;
    margin-top: -75px;
    margin-left: 457px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    cursor: pointer;
}
.instagrampersonal{
    width: 50px;
    height: 50px;
}
.emaildiv{
    word-spacing: 5px;
    margin-top: -40px;
    margin-left: 730px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.email{
    width: 50px;
    height: 50px;
}
.linkedindiv{
    word-spacing: 5px;
    margin-top: -42px;
    margin-left: 1075px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    cursor: pointer;
}
.linkedin{
    width: 50px;
    height: 50px;
}
.linkdivin1{
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
    margin-top: -50px;
    margin-left: 60px;
}
.whatsapplink{
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
.footer{
    margin-top: 400px;
    padding-bottom: 100px;
}
.text-foot{
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color:#c9c9c9;
}
#hobbies2{
    display: none;
}
.abilitiesmobile{
    display: none;
}
/*1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px
1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px
1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px1366px*/
@media screen and (max-width: 1366px){
    html{
        background-color: #313b42;
    }
    .text-foot{
        color: white;
        text-align: center;
    }
    #header{
        background-color: #abaeb0;
        margin-top: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 200px;
        margin-right: 200px;
        border-radius: 50px;
        font-size: 25px;
    }
    h1 {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
    }
    .menu-principal{
        text-align: center;
        word-spacing: 50px;
        margin-top: 30px;
        background-color: #abaeb0;
        margin-left: 120px;
        margin-right: 120px;
        border-radius: 50px;
        font-size: 25px;
    }
    .menu-principal :hover{
        color: blanchedalmond;
    }
    .sobre {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .acade {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .exp {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .port {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .skills {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .personal{
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .cont {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .content{
        margin-top: 20px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .descricao{
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
    }
    .brinsta{
        font-family: 'Patrick Hand', cursive;
        text-decoration: none;
        cursor: pointer;
        color: rgb(9, 219, 9);
    }
    #perfil{
        margin-top: 35px;
        text-align: center;
    }
    #pro{
        width: 250px;
        border: 5px solid white;
        border-radius: 150px;
    }
    .graduation{
        margin-top: 30px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .primeiragrad{
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
        margin-top: 10px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
    }
    .subtitles{
        margin-top: 10px;
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
    }
    .wrap{
        margin-top: -10px;
    }
    .bloco1{
        margin: 30px;
        background-color: #737373;
        border: 5px solid white;
        border-radius: 40px;
    }
    .subsub{
        font-family: 'Patrick Hand', cursive;
        font-size: 50px;
        color:#c9c9c9;
        text-align: center;
    }
    #forma-academica{
        margin-top: 20px;
    }
    #forma-pro{
        margin-top: 15px;
    }
    #forma-hab{
        margin-top: 15px;
    }
    #forma-spec{
        margin-top: 40px;
    }
    #forma-idi{
        margin-top: 40px;
    }
    .profi{
        margin-top: 30px;
        margin-left: 200px;
        margin-right: 200px;
    }
    .bloco2{
        margin: 30px;
        background-color: #737373;
        border: 5px solid white;
        border-radius: 40px;
    }
    .segundagrad{
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
        margin-top: -5px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
    }
    .abilities{
        margin-top: 30px;
        margin-left: 500px;
        margin-right: 500px;
    }
    #abilities1{
        font-size: 50px;
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .terceiragrad{
        text-align: left;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
        margin-top: -5px;
        padding-left: 35px;
        padding-right: 35px;
    }
    .bloco3{
        background-color: #737373;
        border: 5px solid white;
        border-radius: 40px;
        height: 580px;
        width: 450px;
        margin-left: -60px;
    }
    .cheioimg{
        width: 35px;
        height: 30px;
    }
    .sw1{
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .subtitles-soft{
        margin-top: 10px;
        text-align: left;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        margin-left: 55px;
        font-size: 25px;
    }
    .wrap2{
        text-align: center;
        margin-top: -470px;
        margin-left: 250px;
    }
    .subtitles-extra{
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;;
        margin-top: -94px;
        margin-left: 320px;
    }
    .sw2{
        margin-top: 30px;
    }
    .quartagrad{
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        margin-top: 25px;
        font-size: 25px;;
    }
    .bloco4{
        width: 100%;  
    }
    .spectitle{
        font-family: 'Patrick Hand', cursive;
        font-size: 30px;
        color:#c9c9c9;
        text-align: center;
    }
    .spec2{
        text-align: center;
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 120px;
        margin-right: 120px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .specicon{
        align-items: center;
        width: 55px;
        height: 50px;
    }
    .idititle{
        font-family: 'Patrick Hand', cursive;
        font-size: 30px;
        color:#c9c9c9;
        text-align: center;
    }
    .idieng{
        text-align: center;
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 100px;
        margin-right: 120px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .idicon{
        margin-bottom: -25px;
    }
    .idiesp{
        text-align: center;
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 130px;
        margin-right: 120px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .idifre{
        text-align: center;
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 170px;
        margin-right: 120px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    #subsub1-nada{
        margin-top: 100px;
        margin-bottom: -10px;
    }
    .hobbiesbox{
        margin-top: 100px;
    }
    .hobtitle{
        font-family: 'Patrick Hand', cursive;
        font-size: 30px;
        color:#c9c9c9;
        text-align: center;
        margin-top: 10px;
        margin-bottom: -10px;
    }
    .cinemadiv{
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 5px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .naturediv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 205px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .musicdiv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 435px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .videogamediv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 650px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .theatrediv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 950px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .column1{
        margin-left: 130px;
    }
    .travellingdiv{
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 5px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .photodiv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 205px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .fitnessdiv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 435px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .moneydiv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 650px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .booksdiv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 950px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .column2{
        margin-left: 130px;
    }
    .cinema{
        width: 50px;
        height: 50px;
    }
    .nature{
        width: 50px;
        height: 50px;
    }
    .music{
        width: 50px;
        height: 50px;
    }
    .videogame{
        width: 50px;
        height: 50px;
    }
    .theatre{
        width: 50px;
        height: 50px;
    }
    .travelling{
        width: 50px;
        height: 50px;
    }
    .photo{
        width: 50px;
        height: 50px;
    }
    .fitness{
        width: 50px;
        height: 50px;
    }
    .money{
        width: 50px;
        height: 50px;
    }
    .books{
        width: 50px;
        height: 50px;
    }
    .portbox{
        margin-top: 90px;
    }
    .contatobox{
        margin-top: 90px;
    }
    .column3{
        margin-left: 80px;
    }
    .behancediv{
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 150px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
    }
    .behance{
        width: 50px;
        height: 50px;
    }
    .instagramdiv{
        word-spacing: 5px;
        margin-top: -40px;
        margin-left: 380px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
    }
    .instagram{
        width: 50px;
        height: 50px;
    }
    .youtubediv{
            word-spacing: 5px;
            margin-top: -40px;
            margin-left: 630px;
            font-size: 25px;
            font-family: 'Patrick Hand', cursive;
            color:#c9c9c9;
            cursor: pointer;
    }
    .youtube{
        width: 50px;
        height: 50px;
    }
    .facebookdiv{
            word-spacing: 5px;
            margin-top: -40px;
            margin-left: 870px;
            font-size: 25px;
            font-family: 'Patrick Hand', cursive;
            color:#c9c9c9;
            cursor: pointer;
    }
    .facebook{
        width: 50px;
        height: 50px;
    }
    .behancelink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .instagramlink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .youtubelink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .facebooklink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .linkdivin{
        margin-top: -50px;
        margin-left: 60px;
        cursor: pointer;
    }
    .contatobox{
        margin-top: 90px;
    }
    .column4{
        margin-left: 25px;
        margin-top: 68px;
    }
    .whatsappdiv{
        word-spacing: 5px;
        margin-top: -25px;
        margin-left: 105px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .whatsapplink{
        margin-top: -5px;
    }
    .whatsapp{
        width: 50px;
        height: 50px;
    }
    .instagrampersonaldiv{
        word-spacing: 5px;
        margin-top: -75px;
        margin-left: 457px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
    }
    .instagrampersonal{
        width: 50px;
        height: 50px;
    }
    .emaildiv{
        word-spacing: 5px;
        margin-top: -40px;
        margin-left: 730px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .email{
        width: 50px;
        height: 50px;
    }
    .linkedindiv{
        word-spacing: 5px;
        margin-top: -42px;
        margin-left: 1075px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
    }
    .linkedin{
        width: 50px;
        height: 50px;
    }
    .linkdivin1{
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        margin-top: -50px;
        margin-left: 60px;
    }
    .whatsapplink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .footer{
        margin-top: 400px;
        padding-bottom: 100px;
    }
    .text-foot{
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    #hobbies2{
        display: none;
    }
    .abilitiesmobile{
        display: none;
    }
    }
/*1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px
1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px
1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px1000px*/
@media screen and (max-width:1000px){
    html{
        background-color: #313b42;
    }
    .text-foot{
        color: white;
        text-align: center;
    }
    #header{
        background-color: #abaeb0;
        margin-top: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 200px;
        margin-right: 200px;
        border-radius: 50px;
        font-size: 25px;
    }
    h1 {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
    }
    .menu-principal{
        text-align: center;
        word-spacing: 50px;
        margin-top: 30px;
        background-color: #abaeb0;
        margin-left: 120px;
        margin-right: 120px;
        border-radius: 50px;
        font-size: 25px;
    }
    .menu-principal :hover{
        color: blanchedalmond;
    }
    .sobre {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .acade {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .exp {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .port {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .skills {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .personal{
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .cont {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .content{
        margin-top: 20px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .descricao{
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
    }
    .brinsta{
        font-family: 'Patrick Hand', cursive;
        text-decoration: none;
        cursor: pointer;
        color: rgb(9, 219, 9);
    }
    #perfil{
        margin-top: 35px;
        text-align: center;
    }
    #pro{
        width: 250px;
        border: 5px solid white;
        border-radius: 150px;
    }
    .graduation{
        margin-top: 30px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .primeiragrad{
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
        margin-top: 10px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
    }
    .subtitles{
        margin-top: 10px;
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
    }
    .wrap{
        margin-top: -10px;
    }
    .bloco1{
        margin: 30px;
        background-color: #737373;
        border: 5px solid white;
        border-radius: 40px;
    }
    .subsub{
        font-family: 'Patrick Hand', cursive;
        font-size: 50px;
        color:#c9c9c9;
        text-align: center;
    }
    #forma-academica{
        margin-top: 20px;
    }
    #forma-pro{
        margin-top: 15px;
    }
    #forma-hab{
        margin-top: 15px;
    }
    #forma-spec{
        margin-top: 40px;
    }
    #forma-idi{
        margin-top: 40px;
    }
    .profi{
        margin-top: 30px;
        margin-left: 200px;
        margin-right: 200px;
    }
    .bloco2{
        margin: 30px;
        background-color: #737373;
        border: 5px solid white;
        border-radius: 40px;
    }
    .segundagrad{
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
        margin-top: -5px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
    }
    .abilities{
        margin-top: 30px;
        margin-left: 500px;
        margin-right: 500px;
    }
    #abilities1{
        font-size: 50px;
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        margin-left: -125px;
    }
    .terceiragrad{
        text-align: left;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
        margin-top: -5px;
        padding-left: 35px;
        padding-right: 35px;
    }
    .bloco3{
        background-color: #737373;
        border: 5px solid white;
        border-radius: 40px;
        height: 580px;
        width: 480px;
        margin-left: -265px;
    }
    .cheioimg{
        width: 35px;
        height: 30px;
    }
    .sw1{
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .subtitles-soft{
        margin-top: 10px;
        text-align: left;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        margin-left: 90px;
        font-size: 25px;
    }
    .wrap1{
        margin-left: 10px;
    }
    .wrap2{
        text-align: center;
        margin-top: -470px;
        margin-left: 250px;
    }
    .subtitles-extra{
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;;
        margin-top: -94px;
        margin-left: 330px;
    }
    .sw2{
        margin-top: 30px;
    }
    .quartagrad{
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        margin-top: 25px;
        font-size: 25px;;
    }
    .bloco4{
        width: 100%;  
    }
    .spectitle{
        font-family: 'Patrick Hand', cursive;
        font-size: 30px;
        color:#c9c9c9;
        text-align: center;
    }
    .spec2{
        text-align: center;
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 120px;
        margin-right: 120px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .specicon{
        align-items: center;
        width: 55px;
        height: 50px;
    }
    .idititle{
        font-family: 'Patrick Hand', cursive;
        font-size: 30px;
        color:#c9c9c9;
        text-align: center;
    }
    .idieng{
        text-align: center;
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 100px;
        margin-right: 120px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .idicon{
        margin-bottom: -25px;
    }
    .idiesp{
        text-align: center;
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 130px;
        margin-right: 120px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .idifre{
        text-align: center;
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 170px;
        margin-right: 120px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .hobbiesbox{
        margin-top: 100px;
    }
    .hobtitle{
        font-family: 'Patrick Hand', cursive;
        font-size: 30px;
        color:#c9c9c9;
        text-align: center;
        margin-top: 10px;
    }
    .cinemadiv{
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: -55px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .naturediv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 100px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .musicdiv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 285px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .videogamediv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 450px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .theatrediv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 650px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .column1{
        margin-left: 130px;
    }
    .travellingdiv{
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: -55px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .photodiv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 100px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .fitnessdiv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 285px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .moneydiv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 450px;
        font-size: 15px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .booksdiv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 650px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .column2{
        margin-left: 130px;
    }
    .cinema{
        width: 50px;
        height: 50px;
    }
    .nature{
        width: 50px;
        height: 50px;
    }
    .music{
        width: 50px;
        height: 50px;
    }
    .videogame{
        width: 50px;
        height: 50px;
    }
    .theatre{
        width: 50px;
        height: 50px;
    }
    .travelling{
        width: 50px;
        height: 50px;
    }
    .photo{
        width: 50px;
        height: 50px;
    }
    .fitness{
        width: 50px;
        height: 50px;
    }
    .money{
        width: 50px;
        height: 50px;
    }
    .books{
        width: 50px;
        height: 50px;
    }
    .portbox{
        margin-top: 90px;
    }
    .contatobox{
        margin-top: 90px;
    }
    .column3{
        margin-left: 80px;
    }
    .behancediv{
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
    }
    .behance{
        width: 50px;
        height: 50px;
    }
    .instagramdiv{
        word-spacing: 5px;
        margin-top: -40px;
        margin-left: 210px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
    }
    .instagram{
        width: 50px;
        height: 50px;
    }
    .youtubediv{
            word-spacing: 5px;
            margin-top: -40px;
            margin-left: 430px;
            font-size: 25px;
            font-family: 'Patrick Hand', cursive;
            color:#c9c9c9;
            cursor: pointer;
    }
    .youtube{
        width: 50px;
        height: 50px;
    }
    .facebookdiv{
            word-spacing: 5px;
            margin-top: -40px;
            margin-left: 640px;
            font-size: 25px;
            font-family: 'Patrick Hand', cursive;
            color:#c9c9c9;
            cursor: pointer;
    }
    .facebook{
        width: 50px;
        height: 50px;
    }
    .behancelink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .instagramlink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .youtubelink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .facebooklink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .linkdivin{
        margin-top: -50px;
        margin-left: 60px;
        cursor: pointer;
    }
    .column4{
        margin-left: 10px;
    }
    .whatsappdiv{
        word-spacing: 5px;
        margin-top: 10px;
        margin-left: 185px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .whatsapp{
        width: 50px;
        height: 50px;
        margin-top: 50px;
    }
    .whatsapplink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        margin-top: -20px;
    }
    .instagrampersonaldiv{
        word-spacing: 5px;
        margin-top: -70px;
        margin-left: 557px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
    }
    .instagrampersonal{
        width: 50px;
        height: 50px;
    }
    .emaildiv{
        word-spacing: 5px;
        margin-top: 40px;
        margin-left: 185px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .email{
        width: 50px;
        height: 50px;
    }
    .linkedindiv{
        word-spacing: 5px;
        margin-top: -42px;
        margin-left: 560px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
    }
    .linkedin{
        width: 50px;
        height: 50px;
    }
    .linkdivin1{
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        margin-top: -50px;
        margin-left: 60px;
    }
    .footer{
        margin-top: 400px;
        padding-bottom: 100px;
    }
    .text-foot{
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    #hobbies2{
        display: none;
    }
    .abilitiesmobile{
        display: none;
    }
}
/*500500500500500500500500500500500500500500500500500500500500500500500
5005005005005005005005005005005005005050050050050050050050050050050050050050500500500500500
500500500500500500500500500500500500505005005005005005005005005005005005005050050050050050050050050050050050050050
500500500500500500500500500500500500505005005005005005005005005005005005005050050050050050050050050050050050050050
500500500500500500500500500500500500505005005005005005005005005005005005005050050050050050050050050050050050050050
*/
@media screen and (max-width: 500px){
    html{
        background-color: #313b42;
        overflow-x: hidden;
    }
    .text-foot{
        color: white;
        text-align: center;
    }
    #header{
        background-color: #abaeb0;
        margin-top: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 400px;
        border-radius: 50px;
        font-size: 25px;
        margin-left: 35px;
    }
    h1 {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
    }
    .menu-principal{
        text-align: center;
        word-spacing: 50px;
        margin-top: 30px;
        background-color: #abaeb0;
        margin-left: 35px;
        margin-right: 120px;
        border-radius: 50px;
        font-size: 25px;
        width: 400px;
    }
    .menu-principal :hover{
        color: blanchedalmond;
    }
    .sobre {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .acade {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .exp {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .port {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .skills {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .personal{
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .cont {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
    .content{
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 150px;
        width: 450px;
    }
    .descricao{
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
    }
    .brinsta{
        font-family: 'Patrick Hand', cursive;
        text-decoration: none;
        cursor: pointer;
        color: rgb(9, 219, 9);
    }
    #perfil{
        margin-top: 35px;
        text-align: center;
    }
    #pro{
        width: 250px;
        border: 5px solid white;
        border-radius: 150px;
    }
    .graduation{
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 150px;
        width: 410px;
    }
    .primeiragrad{
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
        margin-top: 10px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
    }
    .subtitles{
        margin-top: 10px;
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
    }
    .wrap{
        margin-top: -10px;
    }
    .bloco1{
        margin: 30px;
        background-color: #737373;
        border: 5px solid white;
        border-radius: 40px;
        width: 453px;
        margin-left: -15px;
    }
    .subsub{
        font-family: 'Patrick Hand', cursive;
        font-size: 50px;
        color:#c9c9c9;
        text-align: center;
    }
    #forma-academica{
        margin-top: 20px;
        width: 450px;
        margin-left: -15px;
    }
    #forma-pro{
        margin-top: 15px;
    }
    #forma-hab{
        margin-top: 15px;
    }
    #forma-spec{
        margin-top: 40px;
    }
    #forma-idi{
        margin-top: 40px;
    }
    .profi{
        margin-top: 30px;
        margin-left: -25px;
        margin-right: 200px;
        width: 520px;
    }
    .bloco2{
        margin: 30px;
        background-color: #737373;
        border: 5px solid white;
        border-radius: 40px;
    }
    #subsubpro{
        font-size: 45px;
    }
    .segundagrad{
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
        margin-top: -5px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
    }
    .abilities{
        margin-top: 50px;
        margin-left: 55px;
        margin-right: 500px;
 
    }
    #abilities1{
        font-size: 50px;
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        margin-left: 75px;
  
    }
    .terceiragrad{
        text-align: left;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;
        margin-top: -5px;
        padding-left: 35px;
        padding-right: 35px;
        display: none;
    }
    .bloco3{
        background-color: #737373;
        border: 5px solid white;
        border-radius: 40px;
        height: 580px;
        width: 450px;
        margin-left: -50px;
        display: none;
    }
    .cheioimg{
        width: 35px;
        height: 30px;
        display: none;
    }
    .sw1{
        margin-bottom: 10px;
        margin-left: 20px;
        display: none;
    }
    .subtitles-soft{
        margin-top: 10px;
        text-align: left;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        margin-left: 55px;
        font-size: 25px;
        display: none;
    }
    .wrap1{
        display: none;
    }
    .wrap2{
        text-align: center;
        margin-top: -470px;
        margin-left: 250px;
        display: none;
    }
    .subtitles-extra{
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        font-size: 25px;;
        margin-top: -94px;
        margin-left: 320px;
        display: none;
    }
    .sw2{
        margin-top: 30px;
        display: none;
    }
    #iconmobile{
        width:100px;
        height: 100px;
    }
    .quartagrad{
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        margin-top: 25px;
        font-size: 25px;
        display: none;
    }
    .bloco4{
        width: 100%;  
    }
    .spectitle{
        font-family: 'Patrick Hand', cursive;
        font-size: 30px;
        color:#c9c9c9;
        text-align: center;
    }
    .spec2{
        text-align: center;
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 120px;
        margin-right: 120px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .specicon{
        align-items: center;
        width: 55px;
        height: 50px;
    }
    .idititle{
        font-family: 'Patrick Hand', cursive;
        font-size: 30px;
        color:#c9c9c9;
        text-align: center;
    }
    .idieng{
        text-align: center;
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 100px;
        margin-right: 120px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .idicon{
        margin-bottom: -25px;
    }
    .idiesp{
        text-align: center;
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: -10px;
        margin-right: 120px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        width: 500px;
    }
    .idifre{
        text-align: center;
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 120px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        width: 500px;
    }
    #subsub1-nada{
        margin-top: 100px;
        margin-bottom: -10px;
        margin-left: 25px;
        width: 400px;
    }
    .hobbiesbox{
        margin-top: 100px;
        width: 400px;
    }
    .hobtitle{
        font-family: 'Patrick Hand', cursive;
        font-size: 30px;
        color:#c9c9c9;
        text-align: center;
        margin-top: 10px;
        margin-bottom: -10px;
        width: 400px;
        margin-left: 25px;
    }
    .cinemadiv{
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: -95px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        width: 400px;
    }
    .naturediv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 105px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        width: 400px;
    }
    .musicdiv{
        word-spacing: 5px;
        margin-top: -5px;
        margin-left: -95px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .videogamediv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 105px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        width: 400px;
    }
    .theatrediv{
        word-spacing: 5px;
        margin-top: 1px;
        margin-left: -95px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .column1{
        margin-left: 130px;
    }
    .travellingdiv{
        word-spacing: 5px;
        margin-top: 1px;
        margin-left: -95px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .photodiv{
        word-spacing: 5px;
        margin-top: -55px;
        margin-left: 105px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .fitnessdiv{
        word-spacing: 5px;
        margin-top: -120px;
        margin-left: 105px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .moneydiv{
        word-spacing: 5px;
        margin-top: 55px;
        margin-left: -95px;
        font-size: 15px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .booksdiv{
        word-spacing: 5px;
        margin-top: -45px;
        margin-left: 105px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .column2{
        margin-left: 130px;
    }
    .cinema{
        width: 50px;
        height: 50px;
    }
    .nature{
        width: 50px;
        height: 50px;
    }
    .music{
        width: 50px;
        height: 50px;
    }
    .videogame{
        width: 50px;
        height: 50px;
    }
    .theatre{
        width: 50px;
        height: 50px;
    }
    .travelling{
        width: 50px;
        height: 50px;
    }
    .photo{
        width: 50px;
        height: 50px;
    }
    .fitness{
        width: 50px;
        height: 50px;
    }
    .money{
        width: 50px;
        height: 50px;
    }
    .books{
        width: 50px;
        height: 50px;
    }
    .portbox{
        margin-top: 90px;
        width: 400px;
    }
    #subsubport{
        width: 400px;
        margin-left: 40px;
    }
    .contatobox{
        margin-top: 90px;
        width: 400px;
    }
    .column3{
        margin-left: 80px;
        width: 400px;
    }
    .behancediv{
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: -45px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
    }
    .behance{
        width: 50px;
        height: 50px;
    }
    .instagramdiv{
        word-spacing: 5px;
        margin-top: -40px;
        margin-left: 145px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
    }
    .instagram{
        width: 50px;
        height: 50px;
    }
    .youtubediv{
            word-spacing: 5px;
            margin-top: 40px;
            margin-left: -45px;
            font-size: 25px;
            font-family: 'Patrick Hand', cursive;
            color:#c9c9c9;
            cursor: pointer;
    }
    .youtube{
        width: 50px;
        height: 50px;
    }
    .facebookdiv{
            word-spacing: 5px;
            margin-top: -40px;
            margin-left: 145px;
            font-size: 25px;
            font-family: 'Patrick Hand', cursive;
            color:#c9c9c9;
            cursor: pointer;
    }
    .facebook{
        width: 50px;
        height: 50px;
    }
    .behancelink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .instagramlink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .youtubelink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .facebooklink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .linkdivin{
        margin-top: -50px;
        margin-left: 60px;
        cursor: pointer;
    }

    #subsubcontato{
        width: 400px;
        margin-left: 30px;
        margin-bottom: -35px;
    }
    .whatsappdiv{
        word-spacing: 5px;
        margin-top: 30px;
        margin-left: 65px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        width: 400px;
    }
    .whatsapp{
        width: 50px;
        height: 50px;
    }
    .instagrampersonaldiv{
        word-spacing: 5px;
        margin-top: -5px;
        margin-left: 65px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
    }
    .instagrampersonal{
        width: 50px;
        height: 50px;
    }
    .emaildiv{
        word-spacing: 5px;
        margin-top: 15px;
        margin-left: 63px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .email{
        width: 55px;
        height: 55px;
    }
    .linkedindiv{
        word-spacing: 5px;
        margin-top: 17px;
        margin-left: 67px;
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        cursor: pointer;
    }
    .linkedin{
        width: 45px;
        height: 45px;
    }
    .linkdivin1{
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
        margin-top: -50px;
        margin-left: 60px;
    }
    .whatsapplink{
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    .footer{
        margin-top: 400px;
        padding-bottom: 100px;
    }
    .text-foot{
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;
        color:#c9c9c9;
    }
    #hobbies2{
        display: none;
    }
}